---
title: Дизайн-монтаж - Technonicol
bodyClass: page-inner
---
extends includes/_app

block main


	// Mounting :: Start
	article.mounting
	
		.mounting__head

			.container-fluid

				picture.mounting__head-image
					source(srcset="images/img-mounting-hero-320.jpg" media="(max-width: 576px)")
					img(src="images/img-mounting-hero.jpg", alt="")

				.mounting__head-desc

					h1.mounting__head-title
						| Дизайн-монтаж
						small гибкой и многослойной черепицы
					
					.mounting__head-buttons
						.row
							.col-sm-auto
								a(href="#").btn.btn--red
									+sprite('icon-print')
									| распечатать
							.col-sm-auto
								a(href="#").btn.btn--red
									+sprite('icon-pdf')
									| сохранить


		.mounting__body
			.container-fluid


				section.mounting__section

					.mounting__section-text
						p Всё чаще перед дизайнерами и проектировщиками встает задача не просто создания типового проекта, а разработка индивидуального, оригинального решения кровли для загородного дома. Индивидуальность оформления и необычные сочетания цветовых решений, фактурный рельеф и трехмерный объем гибкой черепицы ТЕХНОНИКОЛЬ SHINGLAS — вот ответ на эти и многие другие дизайнерские вызовы.

						p В этой инструкции мы поделимся с вами несколькими идеями создания не просто надежной крыши, а настоящего произведения искусства!

					h2 1. Совмещение нескольких цветов одной формы нарезки

					.mounting__section-group
						mark 1
						h3 Выделение отдельных элементов кровли
						p Применение на одной кровле нескольких цветов гибкой черепицы одинаковой формы нарезки для выделения коньков крыши, ребер, карнизов, для обрамления мансардных окон или оформления «кукушек» позволит выгодно подчеркнуть геометрию крыши и ее элементов.

					.row
						.col-sm-6
							p
								strong Какие коллекции можно использовать?
							ul
								li Континент, Атлантика, Вестерн, Джаз*, Кантри*, Ранчо*.
								li Фокстрот, Самба, Кадриль, Модерн, Танго, Фламенко,Румба, Финская Соната, Финская Аккорд.

						.col-sm-6
							p
								strong Какие коллекции можно совмещать?
							ul
								li Фокстрот, Румба, Финская Аккорд.
								li Самба, Кадриль, Финская Соната.

					p
						small <sup>*</sup> Для коллекций Джаз, Кантри, Ранчо стартовая полоса не нужна, во всех остальных случаях необходимо её устройство с применением коньково-карнизной черепицы.


					br

					.row
						.col-sm-6
							figure.mounting__section-image.mounting__section-image--left
								img(src="images/img-mounting-01.jpg", alt="")
								figcaption Сочетание Фокстрот Рябина, Фокстрот Кедр, Фокстрот Эвкалипт, Фокстрот Терн, Фокстрот Дуб
						.col-sm-6
							figure.mounting__section-image.mounting__section-image--right
								img(src="images/img-mounting-02.jpg", alt="")
								figcaption Выделение ребер, «кукушек» – коллекция Танго, цвет Хвойный, основной цвет – коллекция Танго, цвет Кленовый

				
					.mounting__section-group
						mark 2
						h3 Абстракция

					.row
						.col-sm-6

							figure.mounting__section-image.mounting__section-image--left
								img(src="images/img-mounting-03.jpg", alt="")

						.col-sm-6

							p Общим правилом создания мозаичной крыши или крыши с абстрактным рисунком является продумывание предварительной раскладки макета крыши на этапе проектирования.

							p
								strong Какие коллекции можно использовать?
							ul
								li Континент, Атлантика, Вестерн, Джаз, Кантри, Ранчо.
								li Фокстрот, Самба, Кадриль, Модерн, Танго, Фламенко, Румба, Финская Соната, Финская Аккорд.
							p
								strong Какие коллекции можно совмещать?
							ul
								li Цвета одной коллекции.
								li Цвета из коллекций Джаз, Кантри, Ранчо.
								li Цвета из коллекций Фокстрот, Румба, Финская Аккорд.
								li Цвета из коллекций Самба, Кадриль, Финская Соната.

						.col-sm-6
							figure.mounting__section-image.mounting__section-image--left
								img(src="images/img-mounting-04.jpg", alt="")
								figcaption Рисунок «Мозаика». Микс цветов коллекции Танго (Кленовый, Осенний, Панговый, Хвойный)
						.col-sm-6
							figure.mounting__section-image.mounting__section-image--right
								img(src="images/img-mounting-05.jpg", alt="")
								figcaption Рисунок «Камуфляж». Микс цветов коллекций Фокстрот (Рябина, Миндаль, Сандал, Дуб)

					.mounting__section-group
						mark 3
						h3 Диагональный или ортогональный рисунок
						p Для создания диагонального или ортогонального рисунка на вашей крыше можно использовать как симметричные так и несимметричные нарезки гибкой черепицы.  Симметричные формы нарезки — соразмерные и пропорциональные относительно центральной части гонта нарезки («атлантика», «континент», «вестерн», «соната», «бобровый хвост», «трио»).

					.row
						.col-sm-6

							figure.mounting__section-image.mounting__section-image--left
								img(src="images/img-mounting-06.jpg", alt="")

						.col-sm-6

							p Несимметричные формы нарезки — формы черепицы, отличающиеся по пропорциям и форме относительно центра гонта («драконий зуб», «аккорд», «брикс»).

							ul
								li Континент, Атлантика, Вестерн, Джаз, Кантри, Ранчо.
								li Фокстрот, Самба, Кадриль, Модерн, Танго, Фламенко, Румба, Финская Соната, Финская Аккорд.
							p
								strong Какие коллекции можно совмещать?
							ul
								li Цвета одной коллекции.
								li Цвета из коллекций Джаз, Кантри, Ранчо.
								li Цвета из коллекций Фокстрот, Румба, Финская Аккорд.
								li Цвета из коллекций Самба, Кадриль, Финская Соната.

						.col-sm-6
							figure.mounting__section-image.mounting__section-image--left
								img(src="images/img-mounting-07.jpg", alt="")
								figcaption Рисунок «Геометрия». Сочетание Джаз Кастилия и Кантри Индиана
						.col-sm-6
							figure.mounting__section-image.mounting__section-image--right
								img(src="images/img-mounting-08.jpg", alt="")
								figcaption Рисунок «Лучи». Сочетание Фокстрот Рябина и Фокстрот Миндаль


					.mounting__section-group
						mark 4
						h3 Градиент
					.row
						.col-sm-6

							figure.mounting__section-image.mounting__section-image--left
								img(src="images/img-mounting-09.jpg", alt="")

						.col-sm-6

							p Для создание плавного перехода от темного к светлому или наоборот можно использовать близкие по оттенку цвета черепицы одной формы нарезки.

							p
								strong Какие коллекции можно использовать?

							ul
								li Континент, Атлантика, Вестерн, Джаз, Кантри, Ранчо.
								li Фокстрот, Самба, Кадриль, Модерн, Танго, Фламенко, Румба, Финская.
							p
								strong Примеры сочетания цветов:
							ul
								li Джаз Индиго, Джаз Коррида, Джаз Терра.
								li Джаз Аликанте, Джаз Тоскана, Джаз Барселона.
								li Фокстрот Сандал, Фокстрот Кедр, Финская Аккорд Коричневый.



				section.mounting__section

					h2 2. Совмещение нескольких форм нарезки

					p Использование на одной кровле разных форм нарезок придает дополнительный объем элементам крыши и выгодно подчеркивает оригинальность архитектурных форм.

					.mounting__section-important
						b ВАЖНО:
						p каждый гонт гибкой черепицы крепится гвоздями, и при монтаже следующего ряда все гвозди должны  перекрыты.

					.mounting__section-group
						mark 1
						h3 Выделение отдельных элементов кровли

					.row
						.col-sm-6
							p Используя гибкую черепицу близких оттенков (например, сочетая разные цвета холодных или теплых оттенков), но разных форм, можно создавать интересные дизайнерские решения для оформления «кукушек», башенок и других элементов кровли.
							p
								strong Какие коллекции можно сочетать на разных элементах одной кровли?
							ul
								li Континент, Атлантика, Вестерн, Джаз, Кантри, Ранчо.
								li Фокстрот, Самба, Кадриль, Модерн, Танго, Фламенко, Румба, Финская Соната, Финская Аккорд.

							p
								strong Примеры сочетания цветов:

							ul
								li Атлантика Тенерифе и Вестерн Клондайк.
								li Атлантика Мадейра и Вестерн Прерия.
								li Модерн Ледник и Континент Европа.

						.col-sm-6

							figure.mounting__section-image.mounting__section-image--right
								img(src="images/img-mounting-10.jpg", alt="")


					.mounting__section-group
						mark 2
						h3 Выделение отдельных элементов кровли другим цветом или формой нарезки

					.row
						.col-sm-6

							figure.mounting__section-image.mounting__section-image--left
								img(src="images/img-mounting-11.jpg", alt="")

						.col-sm-6

							p Если необходимо сделать акценты или визуально разделить блоки строения, то это возможно за счет применения разных цветов и форм нарезки для оформления фронтонов, балконов и мансард.

							p
								strong Какие коллекции можно использовать?

							ul
								li Континент, Атлантика, Вестерн, Джаз, Кантри, Ранчо.
								li Фокстрот, Самба, Кадриль, Модерн, Танго, Фламенко, Румба, Финская Соната, Финская Аккорд.

							p
								strong Какие коллекции и цвета можно сочетать?

							p Так как оформляются отдельные части здания (фронтоны, балконы, мансарды), то вы можете использовать любые цвета и формы нарезки.

					.mounting__section-group
						mark 3
						h3 Совмещение нескольких форм на одном скате

					.row
						.col-sm-6
							p Еще одним интересным решением может стать чередование рядов гибкой черепицы разной формы. Но стоит отметить, что при этом на одном скате необходимо использовать черепицу с одинаковым количеством слоев. Количество рядов при чередовании может быть произвольным.
							p
								strong Какую черепицу можно использовать?
							ul
								li Континент, Атлантика.
								li Фокстрот, Самба, Кадриль, Модерн, Танго, Фламенко, Румба,Финская Соната.

							p
								strong Какие коллекции можно сочетать?

							ul
								li Трехслойные коллекции Континент и Атлантика.
								li Коллекции серии Кадриль между собой.
								li Коллекции серии Ультра между собой.
								li Коллекции серии Финская между собой

						.col-sm-6

							figure.mounting__section-image.mounting__section-image--right
								img(src="images/img-mounting-12.jpg", alt="")

					.mounting__section-group
						mark 4
						h3 Совмещение нескольких форм с похожей формой лепестков

					.row
						.col-sm-6

							figure.mounting__section-image.mounting__section-image--left
								img(src="images/img-mounting-13.jpg", alt="")

						.col-sm-6
							p Некоторые формы гибкой черепицы имеют похожую геометрию лепестков. Округлые, гексогональные или прямоугольные форы разных коллекций можно с успехом использовать для выделения отдельных элементов кровли. При этом следует помнить, что использовать разные формы лучше на разных элементах крыши. Такое нестандартное архитектурное решение идеально для домов с кровлей сложной геометрии.
							p
								strong Какую черепицу можно использовать?
							ul
								li Континент, Атлантика, Вестерн, Джаз, Кантри, Ранчо.
								li Фокстрот, Самба, Кадриль, Модерн, Танго, Фламенко, Румба,Финская Соната.

							p
								strong Какие формы нарезок черепицы можно сочетать?

							ul
								li «Соната» (коллекция Самба, Кадриль, Финская Соната) и «Вестерн» (коллекция Вестерн).
								li «Аккорд» (коллекция Фокстрот, Румба, Финская Аккорд) и «Драконий зуб» (коллекция Джаз, Кантри, Ранчо).
								li «Бобровый хвост» (коллекция Танго) и «Атлантика» (коллекция Атлантика).
								li «Аккорд» (коллекция Фокстрот, Румба, Финская Аккорд) и «Континент» (коллекция Континент).


						

				section.mounting__section

					h2 3. Нестандартная форма кровли
					p Не только сочетание цветов и форм гибкой черепицы может подчеркнуть индивидуальность строения. Гибкость и простота монтажа на геометрически сложных поверхностях позволяют воплотить самые необычные идеи проектировщиков.
					p Интересные дизайнерские проекты с переходами кровли в фасад здания, создание купольных крыш можно реализовать с применением гибкой черепицы.

					.row
						.col-sm-6

							figure.mounting__section-image.mounting__section-image--left
								img(src="images/img-mounting-14.jpg", alt="")
								figcaption Коллекция Кантри, цвет Атланта
						.col-sm-6

							figure.mounting__section-image.mounting__section-image--right
								img(src="images/img-mounting-15.jpg", alt="")
								figcaption Коллекция Кантри, цвет Техас

				section.mounting__section

					h2 4. Художественное оформление
					p Из гибкой черепицы можно делать потрясающие картины, гербы и логотипы брендов. Но всё же при создании кровельных шедевров важно помнить, что крыша – это, в первую очередь, надежная защита дома от непогоды и осадков. А значит, все слои черепицы должны быть уложены по стоку воды, вода не должна затекать под лепестки черепицы, а все гвозди должны быть прикрыты следующим рядом гонтов.
					
					br

					.row
						.col-sm-6

							figure.mounting__section-image.mounting__section-image--left
								img(src="images/img-mounting-16.jpg", alt="")
						.col-sm-6

							figure.mounting__section-image.mounting__section-image--right
								img(src="images/img-mounting-17.jpg", alt="")

					.mounting__section-rules

						h2 Общие правила и рекомендации по дизайн-монтажу гибкой и многослойной черепицы


						ul
							li обязательна укладка подкладочного ковра по всей площади крыши;
							li все гонты гибкой черепицы должны быть смонтированы по направлению стока воды параллельно карнизу;
							li при монтаже рядов гонты монтируются между собой встык и вышележащий ряд перекрывает при смещении стык нижних гонтов;
							li все гвозди, которые крепят нижний гонт, должны быть закрыты следующим рядом черепицы;
							li создавая рисунок, используйте проект для визуализации будущего сочетания форм и цветов;
							li при раскладке рисунка учитывайте следующие геометрические параметры лепестков разных форм черепицы:

						h3 Этапы подготовки рисунка

						ol
							li
								figure
									img(src="images/img-mounting-steps.png", alt="")
									p Рисунок будет формироваться из отдельных лепестков. Гонт гибкой черепицы делим на три равных лепестка при помощи ножниц или кровельного ножа.
							li При работе с симметричными нарезками («соната», «трио», «бобровый хвост», «брикс», «вестерн», «континент» и «Атлантика») можно каждый отдельный лепесток выбрать того цвета, который присутствует в данной коллекции или нарезке.
							li Начинать создание рисунка следует с прорисовки макета будущего ската на схеме. При раскладке рисунка учитывайте геометрические параметры лепестков разных форм черепицы, указанные в таблице на странице слева.
							li Выполняем раскладку лепестков разных цветов по горизонтальным рядам черепицы. Для симметричных нарезок укладка происходит со смещением на половину лепестка.

						h3 Гарантийные обязательства производителя

						ul
							li Не типовой (индивидуальный и/или дизайнерский и т. д.) проект кровли должен строго соответствовать «Инструкции по дизайнерскому монтажу ТЕХНОНИКОЛЬ SHINGLAS» и «Инструкции по монтажу скатной крыши с применением гибкой черепицы ТЕХНОНИКОЛЬ SHINGLAS».
							li При совмещении на кровле гибкой черепицы ТЕХНОНИКОЛЬ SHINGLAS с разными гарантийными сроками гарантийный срок на всю гибкую черепицу кровли устанавливается равным минимальному гарантийному сроку гибкой черепицы ТЕХНОНИКОЛЬ SHINGLAS, используемой на кровле.

				section.mounting__section

					figure.mounting__section-video
						.mounting__section-video-obj
							<iframe width="100%" height="560" src="https://www.youtube.com/embed/nJP_1p0Q494" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						figcaption
							a(href="#").btn.btn--50.btn--red скачать подробную инструкцию по монтажу






	// Mounting :: End


