---
title: Производство кровельного битума - Technonicol
bodyClass: page-inner
---
extends includes/_app-prod

block main


	// Prod :: Start
	article.prod

		.prod__head
			.container-fluid
				ul.prod__head-breadcrumbs
					li
						a(href="#").prod__head-breadcrumbs-link Главная
					li
						a(href="#").prod__head-breadcrumbs-link Производство кровельного битума

				ul.prod__head-social
					li Поделиться:
					li
						a(href="#").prod__head-social-link
							+sprite('icon-social-fb')
					li
						a(href="#").prod__head-social-link
							+sprite('icon-social-vk')
					li
						a(href="#").prod__head-social-link
							+sprite('icon-social-od')
					//- li
					//- 	a(href="#").prod__head-social-link
					//- 		+sprite('icon-social-yt')
					li
						a(href="#").prod__head-social-link
							+sprite('icon-social-im')

				picture.prod__head-image
					img(src="images/img-bitum-hero.jpg", alt="")

				.prod__head-desc

					h1.prod__head-title производство кровельного битума

					p.prod__head-text Кровельный битум – это строительный материал, получаемый окислением продуктов прямой перегонки нефти и их смесей с асфальтами и веществами масляного производства.



		.prod__body
			.container-fluid

				section.prod__section.prod__section--bitum-01

					h2.prod__section-title Этапы получения кровельного битума

					.row
						.col-sm-5
							.prod__section-desc
								mark 1
								h3 Добыча нефти
								p На выходе из скважины сырая нефть имеет очень ограниченную сферу применения. Фактически вся сырая нефть проходит перегонку, с тем, чтобы получить из неё разные нефтепродукты: бензин, керосин, мазут, битумы и др.
						.col-sm-7
							picture.prod__section-image.prod__section-image--offset
								img(src="images/img-bitum-01.png", alt="")

					picture.prod__section-image.prod__section-image--100vw
						img(src="images/img-bitum-02.png", alt="") 

					.prod__section-panel
						.row
							.col-sm-5
								picture.prod__section-panel-image
									img(src="images/img-bitum-info-01.png", alt="") 
							.col-sm-7
								.prod__section-panel-desc
									p Сырая нефть – это смесь различных углеводородов в разных сочетаниях. Основным компонентом нефти являются углеводороды — алканы, циклоалканы, арены, а также микроэлементы: ванадий, никель, железо, цинк, вольфрам, ртуть, уран и др. Каждая составляющая имеет свою ценность, но только при выходе из переработки. 

				section.prod__section.prod__section--bitum-02
					.prod__section-content
						.row
							.col-sm-6.push-sm-6
								.prod__section-desc
									mark 2
									h3 Подготовка
									p Сырая нефть поступает из сырьевых ёмкостей и смешивается с водой — все соли растворяются. Далее нефть поступает в ЭЛОУ (электро- обессоливающую установку), в которой осуществляется воздейств ием током высокого напряжения (25 кВ), после чего вода откачивается.
							.col-sm-6.pull-sm-6
								picture.prod__section-image.prod__section-image--offset
									img(src="images/img-bitum-03.png", alt="")
							
							

				section.prod__section.prod__section--bitum-03.prod__section--white
					.prod__section-content
						.row
							.col-sm-6
								.prod__section-desc
									mark 3
									h3 Атмосферная<br>перегонка.<br>Получение мазута.
									p Атмосферная перегонка проводится при температурах до 350°С, так как дальнейшее нагревание нефти приведёт к неконтролируемому разрушению отдельных соединений. На выходе из такой колонны получается несколько отдельных фракций и остаток атмосферной перегонки — мазут.
							.col-sm-6
								picture.prod__section-image.prod__section-image--offset
									img(src="images/img-bitum-info-02.png", alt="")

						.prod__section-caption
							.row
								.col-sm-6
									picture.prod__section-image
										img(src="images/img-bitum-caption-01.png", alt="")
								.col-sm-6
									.prod__section-desc
										p Мазут — нефтяные маслянистые остатки, получаемые после отгонки из нефти бензина, газолина, керосина.


				section.prod__section.prod__section--bitum-04
					.prod__section-content
						.row
							.col-sm-6.push-sm-6
								.prod__section-desc
									mark 4
									h3 Вакуумная <br>дистилляция. <br>Получение гудрона.
									p Мазут направляют на вакуумную дистилляцию. Пониженное давление способствует уменьшению температуры кипения некоторых составляющих, что в свою очередь позволяет углубить процесс фракционирования. В данном случае используют мнимые температуры кипения, т.е. температуры, которые достигались бы при нормальном давлении. Однако температура вакуумной дистилляции также имеет предел — 500-600 °С (мнимая). Не выкипающая при данной температуре субстанция называется остатком вакуумной перегонки — гудроном.
									figure
										img(src="images/img-bitum-05.png", alt="")
							.col-sm-6.pull-sm-6
								picture.prod__section-image.prod__section-image--left
									img(src="images/img-bitum-04.png", alt="")


				section.prod__section.prod__section--bitum-05_1.prod__section--white
					.prod__section-content
						.row
							.col-sm-6
								.prod__section-desc
									mark 5 <small>Вариант 1</small>
									h3 Насыщение <br>кислородом <br>(окисление)
									p Производство битума, насыщенного кислородом является принудительным процессом и осуществляется на специальной установке. В ней нагревается исходное сырье и через него пропускается кислород. Исходным сырьем может служит гудрон.
									p Сущность процесса заключается в том, что содержащиеся в составе гудрона масла и смолы под воздействием кислорода воздуха превращаются в асфальтный остаток. Повышение температуры размягчения и вязкость битума, придают битуму твердость и прочность.
							.col-sm-6
								picture.prod__section-image.prod__section-image--right
									video(loop="true" autoplay="true")
										source(src="images/video-oxidation.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
									//- img(src="images/img-bitum-06.png", alt="")

							.col-sm-12
								p Следствием процесса насыщения кислородом будет приобретение продуктом важных для эксплуатации характеристик, к которым относится:

							.col-sm-6
								ul.prod__section-list
									li Благодаря улучшенному качеству с поверхности не осыпается базальтовый гранулят. Покрытие сохраняет свой внешний вид, не вздувается и не трескается.
									li Улучшенная ветростойкость.
									li За счёт того, что жесткость материала повысилась, покрытие легко противостоит даже самым сильным ветрам.

							.col-sm-6
								ul.prod__section-list
									li Изменение теплостойкости покрытия с исходных +45°C до конечных +120°C. Благодаря остановке всех химических процессов будущий кровельный продукт приобретает необходимую жёсткость. 
									li Более высокая огнестойкость
									li Отсутствие выделения паров и неприятных запахов при нагревании.



				section.prod__section.prod__section--bitum-05_2
					.prod__section-content
						.row
							.col-sm-6.push-sm-6
								.prod__section-desc
									mark 5 <small>Вариант 2</small>
									h3 Добавление <br>полимерных <br>модификаторов 
									p Производство полимерного битума происходит путем смешивания гудрона с определенными полимерными веществами с целью модифицирования структуры готового битума. В зависимости от вида добавляемого модификатора существует два вида модифицированного битума:
									p <b>СБС (резинобитум)</b>, чтобы его получить, в битумную массу добавляют каучук. Благодаря этому масса изменяет свою структуру на молекулярном уровне.
									p <b>АПП (атактический полипропилен)</b>. Благодаря этому готовое полотно при изменениях температуры изменяет свою пластичность (чем выше температура, тем выше пластичность и, наоборот).
									
							.col-sm-6.pull-sm-6
								picture.prod__section-image.prod__section-image--left
									img(src="images/img-bitum-07.png", alt="")

							.col-sm-12

								ul.prod__section-progress
									li
										picture
											img(src="images/img-bitum-progress-01.png", alt="")
										p Нефтяной битум
									li
										picture
											img(src="images/img-bitum-progress-02.png", alt="")
										p Полимер
									li
										picture
											img(src="images/img-bitum-progress-03.png", alt="")
										p Пластификаторы
									li
										picture
											img(src="images/img-bitum-progress-04.png", alt="")
										p Полимерный<br>битум

							.col-sm-12
								p
									b Такая технология наделяет конечный продукт на основе такого битума <br>важными для эксплуатации свойствами:

							.col-sm-5
								ul.prod__section-list
									li Гибкость
									li Устойчивостью к УФ-излучению
									li Хорошей адгезией. 

							.col-sm-5
								ul.prod__section-list
									li Способность хорошо держать форму 
									li Стойкостью к резким изменениям температурного режима




							

			
	// Prod :: End


	// Read :: Start
	.read
		.container-fluid

			h2.read__heading ЧИТАЙТЕ ТАКЖЕ

			.read__slides.js-slick-read

				a(href="#").read__item
					figure.read__item-image
						img(src="images/img-read-01.jpg", alt="")
					.read__item-desc
						h3.read__item-title как производят стеклохолст?

				a(href="#").read__item
					figure.read__item-image
						img(src="images/img-read-02.jpg", alt="")
					.read__item-desc
						h3.read__item-title как производят кровельный битум?

				a(href="#").read__item
					figure.read__item-image
						img(src="images/img-read-03.jpg", alt="")
					.read__item-desc
						h3.read__item-title как производят гибкую черепицу?

			.read__hashtag
				a(href="#").read__hashtag-link кровельные гранулы
				a(href="#").read__hashtag-link Битум

	// Read :: End
