---
title: Производство стеклохолста - Technonicol
bodyClass: page-inner
---
extends includes/_app-prod

block main


	// Prod :: Start
	article.prod
		
		.prod__head
			.container-fluid

				ul.prod__head-breadcrumbs
					li
						a(href="#").prod__head-breadcrumbs-link Главная
					li
						a(href="#").prod__head-breadcrumbs-link Производство стеклохолста

				ul.prod__head-social
					li Поделиться:
					li
						a(href="#").prod__head-social-link
							+sprite('icon-social-fb')
					li
						a(href="#").prod__head-social-link
							+sprite('icon-social-vk')
					li
						a(href="#").prod__head-social-link
							+sprite('icon-social-od')
					//- li
					//- 	a(href="#").prod__head-social-link
					//- 		+sprite('icon-social-yt')
					li
						a(href="#").prod__head-social-link
							+sprite('icon-social-im')

				picture.prod__head-image
					img(src="images/img-glass-hero.jpg", alt="")

				.prod__head-desc

					h1.prod__head-title Производство стеклохолста

					p.prod__head-text Стеклохолст – это современный экологически чистый материал, созданный из минерального стекловолокна и органических смол. Это сплошное нетканое полотнище без ярко выраженного рисунка, обладающее огромной прочностью на разрыв.



		.prod__body
			.container-fluid

				blockquote.prod__blockquote
					.prod__blockquote-desc
						p «Основное преимущество стекловолокна, то, что этот материал не горит, то, что он не подается гниению».
						cite.prod__blockquote-cite
							span.prod__blockquote-cite-author
								| Сергей Ракитский
								small Директор производства стеклохолста
							.prod__blockquote-cite-image
								img(src="images/img-glass-blockquote.png", alt="")
					picture.prod__blockquote-image
						img(src="images/img-glass-blockquote.png", alt="")

				section.prod__section.prod__section--txt
					.row.align-items-center
						.col-sm-6
							picture.prod__section-image
								img(src="images/img-glass-01.png", alt="")
						.col-sm-6
							.prod__section-desc
								p Стеклохолст предназначен для использования в качестве армирующей основы при производстве рулонной кровли и гибкой черепицы для плоских и скатных кровель жилых, административных, индустриальных зданий и частных домов.

								p Стеклохолст не подвержен воздействию атмосферы и ультрофиолетовых лучей, обладает гибкостью, прочностью, стабильностью размеров, не гниёт. Благодаря пористой структуре стеклохолста, он легко пропитывается и в то же время сохраняет хорошую химическую устойчивость, обладает великолепными гидроизолирующими свойствами, антикоррозионными и огнеупорными характеристиками.

								p Стеклохолст является идеальной основой для нанесения на него различных покрытий благодаря своим свойствам: стабильности по размерам, долговечности, высокой сопротивляемости к растяжению, хорошей пропитываемостью.

								p Нетканый стеклохолст производится по мокрой или бумажной технологии из рубленого стекловолокна на технологической линии.


				section.prod__section.prod__section--info.prod__section--white
					.row.align-items-center
						.col-sm-6.push-sm-6
							picture.prod__section-image
								img(src="images/img-glass-02.png", alt="")
						.col-sm-6.pull-sm-6
							.prod__section-desc
								p Основной для будущего стеклохолста служит стекловолокно (стеклонить). В такой форме стекло демонстрирует необычные для себя свойства: не бьётся и не ломается, а вместо этого легко гнётся без разрушения. Это позволяет ткать из него стеклоткань. 

								p Стекло при своей кажущейся хрупкости является очень прочным материалом. И если стекло из расплава вытянуть тоненькую нитку, то такая нитка будет иметь прочность большую, чем  прочность проволоки такого же размера стальной проволоки. Толщина волокон — от 13 до 24 микрон — примерно в пять раз тоньше человеческого волоса.

								p Производство стекловолокна основано на принципе экструзии: расплавленная стеклянная масса пропускается через фильеры, застывает и приобретает вид тончайших непрерывных нитей, имеющих толщину от одного микрона (ультратонкое) до 25 микрон (толстое).

						


				section.prod__section.prod__section--materials

					h2.prod__section-title
						u добыча и подготовка сырья

					.row.align-items-center
						.col-sm-6
							picture.prod__section-image.prod__section-image--left
								source(srcset="images/img-glass-03-320.png" media="(max-width: 576px)")
								img(src="images/img-glass-03.png", alt="")
						.col-sm-6
							.prod__section-desc
								p Прежде, чем начать производство стекловолокна — необходимо найти и добыть карьерным способом все компоненты:

								ul
									li <b>Кварцевый песок</b> (основной компонент)
									li <b>Колеманит</b>
									li <b>Доломит</b>
									li <b>Боксит</b> (с последующим получением глинозёма)
									li <b>Известняк</b> (с последующим получением соды по методу Сольве)


								p Далее, все сырьевые компоненты будущего стекловолокна после предварительной подготовки (сушки и измельчения) в строго дозированных пропорциях смешивают в общую массу (стекольную шихту), которая поступает в специальную печь.

				


				// ------

				section.prod__section.prod__section--fiber-01

					h2.prod__section-title
						u производство стекловолокна


					.prod__section-content
						.row
							.col-sm-6
								.prod__section-desc
									mark 1
									h3 Плавка в печи при температуре 1600°c
									p Главнейшая и самая сложная операция всего стекольного производства, производится чаще всего в ванных печах непрерывного действия, представляющих собой бассейны, сложенные из огнеупорных материалов. При варке специальных стекол (оптических, цветных и т. п.) используют горшковые печи. При нагревании шихты до 1100... 1150°С происходит образование силикатов (силикатообразование) сначала в твердом виде, а затем в расплаве.

								picture.prod__section-image.prod__section-image--left
									img(src="images/img-fiberglass-01.png", alt="")

							.col-sm-6
								picture.prod__section-image.prod__section-image--right
									img(src="images/img-fiberglass-02.png", alt="")
								
								.prod__section-desc
									p При дальнейшем повышении температуры в этом расплаве полностью растворяются наиболее тугоплавкие компоненты SiO2 и А12О3 — образуется стекломасса. Эта стекломасса насыщена газовыми пузырьками и неоднородна по составу. Для осветления и гомогенизации стекломассы ее температуру повышают до 1500...1600°С.


				section.prod__section.prod__section--fiber-02
	
					.prod__section-content
						.row
							
							.col-sm-6.push-sm-6
								.prod__section-desc
									mark 2
									h3 Вытягивание стекломассы 
									p Волокна вытягивают из расплавленной стекломассы через фильеры (тонкие форсунки с 200-4000 отверстий) при помощи механических устройств, наматывая волокно на бобину. Диаметр волокна зависит от скорости вытягивания и диаметра фильеры, но в среднем толщина нити составляет 9-14 микрон.
							.col-sm-6.pull-sm-6
								picture.prod__section-image.prod__section-image--left
									img(src="images/img-fiberglass-03.png", alt="")


				section.prod__section.prod__section--fiber-03
	
					.prod__section-content
						.row
							.col-sm-6
								.prod__section-desc
									mark 3
									h3 Рубка волокна на<br>мелкие элементы
									p Стеклянную нить (стекловолокно) рубят на короткие элементы (чопсы) длиной в несколько сантиметров.
									picture.prod__section-image.prod__section-image--left
										img(src="images/img-fiberglass-04.png", alt="")
							.col-sm-6
								picture.prod__section-image.prod__section-image--right
									img(src="images/img-fiberglass-05.png", alt="")

							

				// ------

				section.prod__section.prod__section--glasswear-01

					h2.prod__section-title
						u Производство стеклохолста
					
					.prod__section-content
						.row
							.col-sm-6
								.prod__section-desc
									mark 1
									h3 Приготовление <br>раствора <br>«белой воды»
									p На первом этапе подготавливается раствор «белой воды» на основе умягченной воды, куда помимо рубленной на мелкие кусочки стеклянной нити (чопсов) добавлены химические компоненты: загуститель для регулирования ее вязкости; диспергатор, не позволяющим волокнам слипаться в комочки; пеногаситель для предотвращения пенообразования. После добавления химикатов раствор приобретает слегка белый цвет. Поэтому название «белая вода» буквально обозначает цвет технологического раствора.

							.col-sm-6
								picture.prod__section-image.prod__section-image--right
									img(src="images/img-glass-04.png", alt="")

							.col-sm-6
								p Раствор постоянно перемешивается и из технологических емкостей большим насосом через распределитель подается в напорный ящик – сердце линии по производству стеклохолста.
							.col-sm-6
								p Основная часть напорного ящика – это непрерывно движущаяся сетка, через отверстие в которой технологическая вода уходит, а стекловолокно хаотично распределённое, но пока ещё не скреплённое между собой, остаётся на сетке. Эту технологию заимствовали из бумажной промышленности.


				section.prod__section.prod__section--glasswear-02
					.prod__section-content
						.prod__section-desc
							mark 2
							h3 Загрузка рубленного волокна
							p Рубленое волокно – основное сырье для производства стеклохолста. Оно поступает на завод в биг-бэгах и дозируется в «белую воду». В «белой воде» идет диспергирование рубленого волокна. Волокно должно «раскрыться». Перед подачей на формер не должно оставаться волокна в виде «палочек». Но волокно не должно сбиваться и в комочки ваты. 

						.row
							.col-sm-6
								picture.prod__section-image.prod__section-image--left
									img(src="images/img-glass-05.png", alt="")
							.col-sm-6
								picture.prod__section-image.prod__section-image--right
									img(src="images/img-glass-06.png", alt="")

				section.prod__section.prod__section--glasswear-03
					.prod__section-content
						.row
							.col-sm-6
								.prod__section-desc
									mark 3
									h3 Приготовление вяжущего раствора
									p Раствор связующего (связующее, связка) для пропитки стеклохолста представляет собой смесь смолы, полимерной дисперсии и умягченной воды. Связующее склеивает волокна стеклохолста в единую массу, обеспечивая тем самым прочность, эластичность и другие свойства готового продукта. 
							.col-sm-6
								picture.prod__section-image.prod__section-image--right
									img(src="images/img-glass-07.png", alt="")

				section.prod__section.prod__section--glasswear-04
					.prod__section-content
						.row
							
							.col-sm-6.push-sm-6
								.prod__section-desc
									mark 4
									h3 Формирование стеклохолста 
									p Главным насосом «белая вода» с диспергированным в ней стекловолокном подается в напорный ящик секции формера. Стекловолокно осаждается на сетке формера, технологическая вода удаляется из напорного ящика через систему из пяти обезвоживающих камер. Дополнительное обезвоживание полотна холста производится вакуумными отсосами.
							.col-sm-6.pull-sm-6
								picture.prod__section-image.prod__section-image--left
									img(src="images/img-glass-08.png", alt="")


				section.prod__section.prod__section--glasswear-05_06
					.prod__section-content
						.row
							.col-sm-6
								.prod__section-desc
									mark 5
									h3 Пропитка связующим 
									p Полотно холста с сетки формера передаётся на сетку секции связующего. Затем холст проливается связкой. Излишки связующего удаляются вакуумными отсосами. В процессе обезвоживания регулируется нанос связующего.   
									picture.prod__section-image.prod__section-image--left
										img(src="images/img-glass-09.png", alt="")
							.col-sm-6
								picture.prod__section-image.prod__section-image--right
									img(src="images/img-glass-10.png", alt="")
								.prod__section-desc
									mark 6
									h3 Сушка стеклохолста 
									p Процесс сушки стеклохолста проходит в сушилке при температуре около 200°С. Сушка осуществляется горячим воздухом. В сушилке идут химические реакции отверждения связующего и физические процессы удаления влаги из холста. Качество холста во многом зависит от того, как пройдут эти процессы. 



				blockquote.prod__blockquote
					.prod__blockquote-desc
						p «Готовый холст выходит из сушилки и имеет высокую температуру около 200°С. Материал проходит натяжные волны, проходит систему контроля качества на потоке, проверяется поверхностная плотность материала, проверяется влажность материала, оптические сканеры проверяют качество поверхности с точки зрения дефектов промывания. Материал наматывается на готовые рулоны».
						cite.prod__blockquote-cite
							span.prod__blockquote-cite-author
								| Сергей Ракитский
								small Директор производства стеклохолста
							.prod__blockquote-cite-image
								img(src="images/img-glass-blockquote.png", alt="")
					picture.prod__blockquote-image
						img(src="images/img-glass-blockquote.png", alt="")



				section.prod__section.prod__section--glasswear-07

					picture.prod__section-image.prod__section-image--100vw
						img(src="images/img-glass-11.png", alt="")

					.prod__section-content
						.row
							.col-sm-6
								.prod__section-desc
									mark 7
									h3 Намотка готовой продукции
									p На выходе из сушилки выходит готовый стеклохолст. Его нужно только нарезать на необходимую и намотать в рулоны.   
							.col-sm-6
								picture.prod__section-image.prod__section-image--right
									img(src="images/img-glass-12.png", alt="")

				section.prod__section.prod__section--glasswear-08
					.prod__section-content
						.row
							
							.col-sm-6.push-sm-6
								.prod__section-desc
									mark 8
									h3 упаковка
									p Край холста закрепляется на рулоне скотчем, после чего рулоны поступают на упаковку. Готовое стекловолокно отправляют на производство гидроизоляционных и кровельных материалов (рулонная гидроизоляция, подкладочные ковры, гибкая черепица, др.).
							.col-sm-6.pull-sm-6
								picture.prod__section-image
									img(src="images/img-glass-13.png", alt="")
								
								
							
					
				



	// Prod :: End


	// Read :: Start
	.read
		.container-fluid

			h2.read__heading ЧИТАЙТЕ ТАКЖЕ

			.read__slides.js-slick-read

				a(href="#").read__item
					figure.read__item-image
						img(src="images/img-read-01.jpg", alt="")
					.read__item-desc
						h3.read__item-title как производят стеклохолст?

				a(href="#").read__item
					figure.read__item-image
						img(src="images/img-read-02.jpg", alt="")
					.read__item-desc
						h3.read__item-title как производят кровельный битум?

				a(href="#").read__item
					figure.read__item-image
						img(src="images/img-read-03.jpg", alt="")
					.read__item-desc
						h3.read__item-title как производят гибкую черепицу?

			.read__hashtag
				a(href="#").read__hashtag-link кровельные гранулы
				a(href="#").read__hashtag-link базальт

	// Read :: End
