---
title: Производство гибкой черепицы - Technonicol
bodyClass: page-inner
---
extends includes/_app-prod

block main


	// Prod :: Start
	article.prod
		
		.prod__head
			.container-fluid

				ul.prod__head-breadcrumbs
					li
						a(href="#").prod__head-breadcrumbs-link Главная
					li
						a(href="#").prod__head-breadcrumbs-link Производство гибкой черепицы

				ul.prod__head-social
					li Поделиться:
					li
						a(href="#").prod__head-social-link
							+sprite('icon-social-fb')
					li
						a(href="#").prod__head-social-link
							+sprite('icon-social-vk')
					li
						a(href="#").prod__head-social-link
							+sprite('icon-social-od')
					//- li
					//- 	a(href="#").prod__head-social-link
					//- 		+sprite('icon-social-yt')
					li
						a(href="#").prod__head-social-link
							+sprite('icon-social-im')

				picture.prod__head-image
					img(src="images/img-tile-hero.jpg", alt="")

				.prod__head-desc

					h1.prod__head-title производство гибкой черепицы

					p.prod__head-text Гибкая черепица – это битумный материал, представляющий собой прямоугольные модули небольших размеров, с фигурными вырезами по одному краю, которые на кровле укладываются рядами внахлёст.



		.prod__body
			.container-fluid

				section.prod__section
					.row.align-items-center
						.col-sm-6
							.prod__section-desc
								p Гибкая черепица (англ. asphalt/bitumen shingles) – это битумный материал, представляющий собой прямоугольные модули (гонты) небольших размеров, с фигурными вырезами по одному краю, которые на кровле укладываются рядами внахлест. Он идеален в качестве покрытия на скатных крышах, как простой, так и сложной конфигурации, вплоть до куполов.
								p Для защиты от солнечных лучей и осадков в качестве верхнего слоя используется крупнозернистая базальтовая крошка. Разноцветная посыпка выполняет не только защитные функции, но и декоративные. Благородные оттенки кровли выгодно подчеркивают архитектурные достоинства здания.
								p С обратной стороны черепичное полотно дополнительно покрывается битумом. Липкий слой позволяет ускорить монтаж и создать герметичность при спекании отдельных гонтов покрытия.
						.col-sm-6
							picture.prod__section-image.prod__section-image--right
								img(src="images/img-tile-01.png", alt="")

				section.prod__layers
					.row
						.col-sm-6
							picture.prod__layers-image
								source(srcset="images/img-tile-layers-320.png" media="(max-width: 576px)")
								img(src="images/img-tile-layers.png", alt="")
						.col-sm-6
							.prod__layers-desc
								ol
									li Базальтовый окрашенный гранулят, защищающий битум от ультрафиолета. Не выгорает и не осыпается.
									li Верхний слой оксидированного (или модифицированного) битума (гидроизолирует кровлю, являясь водонепроницаемым материалом).
									li Стеклохолст, армирующий два слоя битума и делающий черепицу прочной на разрыв и растяжение. Защищает материал от повреждений во время ветра и не даёт битума возможность растекаться при высоких температурах.
									li Нижний слой оксидированного (или модифицированного) битума
									li Самоклеющаяся основа или кварцева посыпка, позволяющая листам черепицы плотно приклеиваться друг к другу, образуя единый гидроизоляционный слой.

					ul.prod__layers-info
						li
							picture
								img(src="images/img-tile-info-01.png", alt="")
							h3 СТЕКЛОХОЛСТ
							p Основа для гибкой черепицы — прочный стеклохолст в виде рулона, представляет собой нетканый материал, состоящий из равномерно распределенных стеклянных волокон, который не подвержен коррозии и не гниет.
							p Гибкость и прочность основы позволяет применять гибкую черепицу для кровель любой сложности, формы и конфигурации, вплоть до куполов и луковичных крыш.
						li
							picture
								img(src="images/img-tile-info-02.png", alt="")
							h3 КРОВЕЛЬНЫЙ БИТУМ
							p Кровельный битум получают путем обогащения кислородом воздуха обычного битума, получаемого в процессе нефтепереработки, или путем смешивания с определенными полимерными веществами с целью модифицирования структуры готового битума. В зависимости от способа получения кровельного битума, конечный продукт получит повышенные характеристики теплостойкости, гибкости, долговечности. В основном, при производстве гибкой черепицы применяется кровельный битум, обогащенный кислородом воздуха. 
						li
							picture
								img(src="images/img-tile-info-03.png", alt="")
							h3 КРОВЕЛЬНЫЕ ГРАНУЛЫ
							p Природный базальт является одним из наиболее прочных материалов на нашей планете. Измельченные и окрашенные базальтовые гранулы применяются в качестве защитного и декоративного слоя кровельных материалов. Гранулы защищают гибкую черепицу от воздействия ультрафиолета и механических воздействий окружающей среды. 

				blockquote.prod__blockquote
					.prod__blockquote-desc
						p Мощность линии составляет 40 миллионов квадратных метров в год. Это примерно 10 тысяч кровель для малоэтажного строительства. Производительность конвейера – 200 метров черепицы в минуту!
						cite.prod__blockquote-cite
							span.prod__blockquote-cite-author
								| Евгений Володькин
								small Директор завода по производству гибкой черепицы
							.prod__blockquote-cite-image
								img(src="images/img-tile-blockquote.png", alt="")
					picture.prod__blockquote-image
						img(src="images/img-tile-blockquote.png", alt="")


				section.prod__section.prod__section-tile--01

					picture.prod__section-image.prod__section-image--100vw
						source(srcset="images/img-tile-step-01-320.png" media="(max-width: 576px)")
						img(src="images/img-tile-step-01.png", alt="")
					
					.prod__section-content
						.row
							.col-sm-6
								.prod__section-desc
									mark 1
									h2 Соединение стеклохолста и битума
									p Стеклохолст проходит две ванны – пропиточную и покровную. В пропиточной ванной происходит пропитка стеклохолста битумом. Это необходимо для удаления влаги, которая могла остаться после производства основы, а также для насыщения основы битумом. Температура в данной ванне 205-210°C.
								picture.prod__section-image.prod__section-image--left
									img(src="images/img-tile-step-02.png", alt="")

							.col-sm-6
								picture.prod__section-image.prod__section-image--circle
									img(src="images/img-tile-step-03.png", alt="")
								.prod__section-desc
									p Во-второй, покровной ванне, стеклохолст, покрывается ещё одним слоем битума, более густым и толстым. Пропитанный холст проходит через два калибровочных вала. В этом месте задается толщина выпускаемой продукции, сверху наносится основное вяжущее. Затем с тыльной стороны наносится основное вяжущее и полотно поступает на следующий узел.
								picture.prod__section-image.prod__section-image--right
									img(src="images/img-tile-step-04.png", alt="")


				section.prod__section.prod__section-tile--02
					.prod__section-content
						.row
							.col-sm-6
								.prod__section-desc
									mark 2
									h2 Нанесение базальтовых гранул
									p В узле посыпки с лицевой стороны полотна автоматически наносится защитный слой, который состоит из базальтовых гранул, смешанных по определенным цветовым рецептам. Температура битума после выхода с покровной ванны высокая, примерно 200°C, поэтому базальтовые гранулы легко вкатываются в битумную основу прикатом, который прижимает полотно к валу, в результате происходит сцепление гранул с основным вяжущим.
								picture.prod__section-image.prod__section-image--left
									img(src="images/img-tile-step-05.png", alt="")

							.col-sm-6
								picture.prod__section-image.prod__section-image--right
									img(src="images/img-tile-step-06.png", alt="")
								
								p Гранулы, не приклеившееся к основному вяжущему, используются повторно. На нижнюю часть черепицы, чтобы избежать склеивания, наносят кварцевый песок. Соответствие цвета базальтовой посыпки эталону контролирует спектрофотометр.


				section.prod__section.prod__section-tile--03

					picture.prod__section-image.prod__section-image--100vw
						img(src="images/img-tile-step-07.png", alt="")
					
					.prod__section-content
						.row
							.col-sm-6
								.prod__section-desc
									mark 3
									h2 Формирование <br>гонтов
									p Горячее кровельное полотно сначала охлаждают. Для этого используется специальный охлаждающий агрегат, через форсунки которого на практически готовую черепицу подаётся холодная вода. Полотно огибает первый вал холодильной группы, с тыльной стороны полотна наносится ПЭП-плёнка и песок, чтобы будущие гонты черепицы не склеивались между собой во время транспортировки.

							.col-sm-6
								picture.prod__section-image.prod__section-image--right.prod__section-image--top
									img(src="images/img-tile-step-08.png", alt="")


						.prod__section-caption
							.row
								.col-sm-6.push-sm-6
									picture.prod__section-image
										img(src="images/img-tile-caption-01.png", alt="")
								.col-sm-6.pull-sm-6
									.prod__section-desc
										p Далее, сплошное полотно нарезается на пригодные для монтажа размеры (гонты). Нарезка осуществляется специальными валовыми ножами. Если требуется нарезка другой формы, нож меняется без остановки линии (в режиме онлайн).
								

						.row
							.col-sm-6
								picture.prod__section-image.prod__section-image--left
									img(src="images/img-tile-step-10.png", alt="")

							.col-sm-6
								picture.prod__section-image.prod__section-image--right
									img(src="images/img-tile-step-11.png", alt="")

							.col-12

								br
								br

								p Пока идёт переналадка, все остальные узлы линии продолжают работать. Пока новый нож не будет установлен, неразрезанная черепица будет накапливаться в специальном агрегате — накопителе.


				section.prod__section.prod__section-tile--04

					picture.prod__section-image.prod__section-image--100vw
						img(src="images/img-tile-step-12.png", alt="")
					
					.prod__section-content
						.row
							.col-sm-6
								.prod__section-desc
									mark 4
									h2 Упаковка
									p Готовые гонты автоматически штабелируются в пачки, после чего их накрывают термоусадочной пленкой и отправляют в печь для усадки термпопленки. В таком виде гибкая черепица попадает в магазины, откуда доставляется потребителям.

							.col-sm-6
								picture.prod__section-image.prod__section-image--right.prod__section-image--top
									img(src="images/img-tile-step-13.png", alt="")


				section.prod__video.js-video(data-video="https://www.youtube.com/embed/nJP_1p0Q494?autoplay=1")
					img(src="images/img-tile-video.png", alt="")
					+sprite('icon-video')



	// Prod :: End


	// Read :: Start
	.read
		.container-fluid

			h2.read__heading ЧИТАЙТЕ ТАКЖЕ

			.read__slides.js-slick-read

				a(href="#").read__item
					figure.read__item-image
						img(src="images/img-read-01.jpg", alt="")
					.read__item-desc
						h3.read__item-title как производят стеклохолст?

				a(href="#").read__item
					figure.read__item-image
						img(src="images/img-read-02.jpg", alt="")
					.read__item-desc
						h3.read__item-title как производят кровельный битум?

				a(href="#").read__item
					figure.read__item-image
						img(src="images/img-read-03.jpg", alt="")
					.read__item-desc
						h3.read__item-title как производят гибкую черепицу?

			.read__hashtag
				a(href="#").read__hashtag-link кровельные гранулы
				a(href="#").read__hashtag-link базальт

	// Read :: End
